/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/*.label-ctsa {
  background-color: #ADFF2F;
}*/

.graph-layout-opt-sidebar-fixed {
   position:fixed;
   top:15%;
   width: 350px;
   right:10%;
}

.graph-layout-opt-sidebar-fixed .row {
  margin-top: 5px;
}
.graph-layout-opt-sidebar-fixed .row label {
  margin-left: 30px;
  text-align:right !important;
  width: 100px;
}

.graph-layout-opt-sidebar-fixed .row .slider-wrap {
  margin-left: 10px;
  width:200px;
}

.graph-layout-opt-sidebar-fixed .row .slider-text {
  margin-left:5px;
}

.network-metrics-sidebar {
  top: 20%;
  width: 300px;
  left: 2%;
}

.options-sidebar {
  top: 35%;
  width: 200px;
  right: 10%;
}

.tracked-nodes-sidebar {
  top: 80%;
  width: 200px;
  right: 10%;
}

.node-info {
  width: 300px !important;
}

.sidebar-fixed {
  position: fixed;
 /* top: 20%;
  width: 300px;
  left: 2%;*/
  display: block !important;
  z-index: 1010;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}


.sidebar-fixed.top {
  margin-top: -10px;
}

.sidebar-fixed.right {
  margin-left: 10px;
}

.sidebar-fixed.bottom {
  margin-top: 10px;
}

.sidebar-fixed.left {
  margin-left: -10px;
}

.sidebar-fixed-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: rgba(247, 247, 247, 0.5);
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.sidebar-fixed-content {
  padding: 9px 14px;
}

.legend {
  text-align: center;
   -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin: 20px;
}

.bg-gray {  
  background-color: rgba(192, 192, 192, 0.5);
}

.bg-green {
  background-color: rgba(173,255,47, 0.5);
}

.bg-purple {
  background-color: rgba(128,0,128, 0.5);
}

.bg-yellow {
  background-color: rgba(255,255,0,0.5);
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* ==========================================================================
   d3
   ========================================================================== */
svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px auto;
}


circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.self-loop {
  display: none;
}

/*circle.ctsa-1 {
  fill: #ADFF2F;
}*/

path.link {
  fill: none;
  stroke: #666666;
  stroke-width: 1px;
}

path.link.self-loop {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

path.link.green {
  stroke: green;
}

path.link.dashed {
  stroke-dasharray: 0,2 1;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.self-loop {
  display: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

.lightblue {
  color: lightblue;
}

.lightpink {
  color: lightpink;
}

.description {
  font-style: italic;  
}















