

/* ==========================================================================
   d3
   ========================================================================== */
svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px auto;
}


circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.self-loop {
  display: none;
}

circle.ctsa-1 {
  fill: #ADFF2F;
}

path.link {
  fill: none;
  stroke: #666666;
  stroke-width: 2px;
}

path.link.self-loop {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

path.link.green {
  stroke: green;
}

path.link.dashed {
  stroke-dasharray: 0,2 1;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.self-loop {
  display: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

.lightblue {
  color: lightblue;
}

.lightpink {
  color: lightpink;
}

.description {
  font-style: italic;  
}














